Hi guys! Welcome to the Intro to Python Workshop #1. Thank you for coming!
This workshop is designed for those who have 0 coding experience, or those who have taken CS111 but looking for a brief review of basics of Python.

---

The Intro to Python workshop will be splitted into 2 parts: (subject to change!)

Workshop 1:
*   Basic syntax
*   Data types, Variables, and Operations
*   Conditional statements (If/else)
*   Loops



Without further ado, let's get started!



---


# ***Basic syntax***


*   Comment
*   Math operations
*   Whitespace
*   Variable
*   etc.

In [ ]:
print("Hello world!")

# Print the statement BUDSA
print('BUDSA')

Hello world!
BUDSA

In python, the type of a variable changes along with the change of value assigned to it

In [ ]:
a = 5.5
type(a)

float



---


# ***Data types, Operations***
### Data types: Integer, Float, String, Boolean


---


*Integer*
*   As its name suggests, is integer number with no decimal points

In [ ]:
type(10)

int

In [ ]:
# We can do math operations with integers:
3 *4

12



---
*Float*
*   Float is used for assigning decimal values

In [ ]:
type(1.1)

float

In [ ]:
# Similar to Integer, we can also do math operations with floats:
1.1**2

1.2100000000000002

In [ ]:
# A more complicated math:
(10 + 1.2) * (1472 / 1.2) ** 1.2

56975.73014961618



---
*Boolean*

*   We often want to know if an expression is true or false, especially when it comes to conditional statements!
*   Booleans return either True or False

In [ ]:
type(True)

bool

In [ ]:
# We can use Boolean to check whether we got the answer correct
1 + 1 == 3

False



---
*String*
*   String is a sequence of character
*   Use quotation marks to make stuff strings
*   Doesn't really matter if you are using double quotation marks or single quotation marks

In [ ]:
type(3)

int

In [ ]:
type("3")

str

In [ ]:
type(True)

bool

In [ ]:
type('True')

str

*   For Strings, there are much more operation we can do to them:

In [ ]:
# We can concat 2 strings together
print("My major is " + "computer science")

My major is computer science

In [ ]:
# But we can't concat a string with other data type!
print("Today is September " + str(20))

Today is September 20

In [ ]:
string = "Hello World! "
print(string)

Hello World!

In [ ]:
# We can duplicate the string
string * 10

'Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! '

In [ ]:
# Split it by space
string.split(" ")

['Hello', 'World!', '']

In [ ]:
# Make a string all lower/ upper case
string.upper()

'HELLO WORLD! '

In [ ]:
# Know how many characters are there in the string
len(string)

13

In [ ]:
# For more operations, we can also search for it using help()
help(str)

### Data types: List, Dictionary

---


*List*
*   As its name suggests, it is a list
*   It can be a list of any data types, means we can have a list containing a string, an integer, and a boolean, and so on

In [ ]:
# List syntax
list0 = ['a', 3, False]

In [ ]:
type(list0)

list


*   For list in Python, there's a lot we can do:

In [ ]:
# Create a new empty list:
list1 = []
list1

[]

In [ ]:
# Add new element into a list:
list1.append("BUDSA")
list1

['BUDSA']

In [ ]:
# Add multiple new elements into the list:
list1.extend(["Jenny", "Christina", "Bob", "Dave", "Emma"])
list1

['BUDSA', 'Jenny', 'Christina', 'Bob', 'Dave', 'Emma']

In [ ]:
# Want to know how many elements are there?
len(list1)

3


*   For any list, we have an order for the elements, starts from 0
*   We use this order to indicate element in this list, called **index**

In [ ]:
list1[2]

'Christina'

Remember the data type String that we mentioned before? We can treat String as List using index to indicate characters in the string.

In [ ]:
string[-1]

' '

What if we want to select a range of elements of this list? This element selection process is called **sequence slicing**, using square brackets.

In [ ]:
list1

['BUDSA', 'Jenny', 'Christina', 'Bob', 'Dave', 'Emma']

In [ ]:
# The element at starting index is included in the selection
# While the element at ending index is excluded from the selection
slicing1 = list1[2:4]
slicing1

['Christina', 'Bob']

In [ ]:
slicing2 = list1[2:]
slicing2

['Christina', 'Bob', 'Dave', 'Emma']

In [ ]:
slicing3 = list1[:4]
slicing3

['BUDSA', 'Jenny', 'Christina', 'Bob']

---


*Dictionary*
*   Dictionary is a series of key-value pairs
*   Namely, every element in a dictionary is a key-value pair

In [ ]:
# For example, we want to record the exam result of students of a Python class
scores = {"Alice": 100, "Bob": 90, "Charlie": 95, "David": 100}
scores

{'Alice': 100, 'Bob': 90, 'Charlie': 95, 'David': 100}

*   In a dictionary, the **key must be unique**, thus, we can use the key to find the value correspond to it

In [ ]:
# Want to know what score does Charlie get
scores["Charlie"]

95

In [ ]:
# Add new student and score by assigning value to a key
scores["Eve"] = 85
scores

{'Alice': 100, 'Bob': 90, 'Charlie': 95, 'David': 100, 'Eve': 85}

In [ ]:
# Edit score of an existing student
scores["Alice"] = "N/A"
scores

{'Alice': 'N/A', 'Bob': 90, 'Charlie': 95, 'David': 100, 'Eve': 85}

In [ ]:
# Delete a student from our dictionary
scores.pop("Alice")
scores

{'Bob': 90, 'Charlie': 95, 'David': 100}

Similar to List, elements in dictionary are ordered. But due to syntax matter, we cannot simply get first element from scores as scores[1], since in this way we have to have 1 as key and get the value of it

In [ ]:
list(scores)

['Bob', 'Charlie', 'David']



---


# ***Conditional Statement***
### *if*, *else*, *elif*


---

*   Conditional statement depends on the boolean to process

In [ ]:
# scores = {"Alice": 90, "Bob": 85, "Charlie": 40, "David": 100, "Eva": 55}
scores = {"Student": 55}
scores

{'Student': 55}

In [ ]:
# Suppose we have 60 as boundary of whether the student fails the exam
if scores["Student"] < 60:
  print("You fail the exam :(")
else:
  print("Congratuations! You pass the exam :)")

You fail the exam :(

In [ ]:
# We now want to loose our logistics, 
# that people got 50-60 can have a second chance to take the exam
if scores["Student"] < 50:
  print("You fail the exam :(")
elif scores["Student"] < 60:
  print("You get another chance to take the exam!")
else:
  print("Congratuations! You pass the exam :)")

You get another chance to take the exam!

It seems like using conditional statements can't help much, because it is easy to decide whether a student passed or not.

But what if there's a class of student?



---


# ***Loops***
### *for loop* and *while loop*


---

*   What is a loop?
*   In what situation do we want to use a loop?
*   For what data type can we use a loop?

In [ ]:
# Use for loop
scores = {"Alice": 90, "Bob": 85, "Charlie": 40, "David": 100, "Eva": 55}

for name in scores:
  if scores[name] < 50:
    print(name + ": You fail the exam :(")
  elif scores[name] < 60:
    print(name + ": You get another chance to take the exam!")
  else:
    print(name + ": Congratuations! You pass the exam :)")

Alice: Congratuations! You pass the exam :)
Bob: Congratuations! You pass the exam :)
Charlie: You fail the exam :(
David: Congratuations! You pass the exam :)
Eva: You get another chance to take the exam!

In [ ]:
list(scores.keys())

['Alice', 'Bob', 'Charlie', 'David', 'Eva']

In [ ]:
# Use while loop
while scores:
  name = list(scores.keys()).pop(0)
  if scores[name] < 50:
    print(name + ": You fail the exam :(")
  elif scores[name] < 60:
    print(name + ": You get another chance to take the exam!")
  else:
    print(name + ": Congratuations! You pass the exam :)")
  scores.pop(name)

Alice: Congratuations! You pass the exam :)
Bob: Congratuations! You pass the exam :)
Charlie: You fail the exam :(
David: Congratuations! You pass the exam :)
Eva: You get another chance to take the exam!

Workshop 2:
*   Functions/function parameters
*   Libraries
*   Trace the code
*   Introduce useful study materials
*   Brief introduction of Pandas/ Numpy